# Directory 
HOME_DIR=<path_to_home_directory>
LOGS_DIR=<path_to_logs_directory>

# location of directory where alarm lock-files are managed
LOCK_DIR=<path_to_lockfiles_directory>

# location of individual alarm .yml config files
CONFIGS_DIR=<path_to_configs_directory>

# temporary directory location for writing alarm figures
TMP_FIGURE_DIR=<path_to_figure_output_directory>

# Alarm history database (sqlite). Defaults vary by deployment.
DB_FILE=<path_to_alarms_sent.db>

# Volcano list file (.xlsx, .csv, or .txt). If unset, uses bundled package data.
VOLCANO_LIST=<path_to_volcano_list_file>

# Distribution and phonebook .yml files. Defaults to config/ directory.
# DISTRIBUTION_FILE=config/distribution.yml
# PHONEBOOK_FILE=config/phonebook.yml

# Metadata file path
STATION_XML=<path_to_station_xml_file>

# Time zone for alert message formatting. For list of options:
# import zoneinfo
# zoneinfo.available_timezones()
TIMEZONE='US/Alaska'

# Notification index.html path
WWW_FILE=<path_to_index.html_file>

# Winston data configuration
WINSTON_HOST='winston_IP_address'
WINSTON_PORT=winston_port

# FDSN variable
FDSN_URL=event_fdsn_url

# NOAA CIMSS Variables
NOAA_CIMSS_URL=noaa_cimss_url
CIMSS_USERNAME=username
CIMSS_PASSWORD=password

# PIREP website
PIREP_URL=pirep_url

# SACS SO2 website
SACS_URL=sacs_S02_url

# Volcanic Ash Advisory URL
VAA_URL=vaa_url

# Lightning Alarm Variables
API_USERNAME=username
API_PASSWORD=password
LIGHTNING_URL=lightning_url

# Info for Mattermost message posting:
MATTERMOST_USER_ID=username
MATTERMOST_USER_PASS=password
MATTERMOST_SERVER_URL=server_url
SSL_CA=<path_to_certificate_file>
MATTERMOST_TEAM_ID=team_id
MATTERMOST_DEFAULT_CHANNEL_ID=channel_id

# icinga configurations
ICINGA_HOST_NAME='icinga_hostname'
ICINGA_URL='icinga_IP_address'
ICINGA_USERNAME=username
ICINGA_PASSWORD=password

# SMTP server info
SMTP_IP='ip_address'
SMTP_PORT=port_number