# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

logs/*.out
logs/*.log
logs/*.lock

phonebook.yml
.env

.vscode/
.vscode/*

.gitlab-ci.yml

*.egg-info/
.eggs/
build/
dist/

alarm_aux_files/*.db*
alarm_aux_files/*.xlsx

tmp_files/*