# pip list --format=freeze > requirements.txt
arrow==1.2.3
asttokens==2.0.5
backcall==0.2.0
basemap==1.3.7
basemap-data==1.3.2
basemap-data-hires==1.3.2
beautifulsoup4==4.12.2
buffering-smtp-handler==0.2.1
Cartopy==0.21.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
contourpy==1.0.5
cryptography==41.0.2
cycler==0.11.0
decorator==5.1.1
enveloc==1.1.3
et-xmlfile==1.1.0
executing==0.8.3
fonttools==4.25.0
future==0.18.3
greenlet==2.0.2
idna==3.4
importlib-resources==5.2.0
ipython==8.12.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.1
kiwisolver==1.4.4
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
munkres==1.1.4
nose==1.3.7
numpy==1.24.3
obspy==1.4.0
openpyxl==3.1.2
packaging==23.0
pandas==2.0.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.2
Pillow==9.4.0
pip==23.1.2
proj==0.2.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycurl==7.45.2
Pygments==2.15.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyproj==3.4.1
pyshp==2.1.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
scikit-learn==1.3.0
scipy==1.10.1
setuptools==67.8.0
shapely==2.0.1
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
stack-data==0.2.0
svn==1.0.1
threadpoolctl==3.2.0
tomputils==1.12.18
traitlets==5.7.1
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
utm==0.7.0
wcwidth==0.2.5
wheel==0.38.4
zipp==3.11.0
